new_wf.json
{"updatedAt": "2026-05-14T06:42:27.495Z", "createdAt": "2026-05-08T22:04:05.241Z", "id": "fzM2FtB5aBD3aEFb", "name": "SocialChat Sync \u2192 KGH Dashboard (30min)", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 */30 6-20 * * *"}, {"field": "cronExpression", "expression": "0 0 21 * * *"}]}}, "id": "sched", "name": "Every 30min (06-21 WIB)", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [0, 300]}, {"parameters": {"url": "https://api.socialchat.id/partner/conversation?limit=100&channelId=6896897a674b59030e8e0e42&page=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer MTI0NjExMzgxNl9TeWhLc2dDdUlUVGcwQTdWTkZpVg=="}]}, "options": {}}, "id": "fetch1", "name": "Fetch KGH", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [240, 300], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"url": "https://api.socialchat.id/partner/conversation?limit=100&channelId=68a409fc6f59c827aaf13f22&page=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer MTI0NjExMzgxNl9TeWhLc2dDdUlUVGcwQTdWTkZpVg=="}]}, "options": {}}, "id": "fetch2", "name": "Fetch DK", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [480, 300], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"url": "https://api.socialchat.id/partner/conversation?limit=100&channelId=69f1c4458c09ad192d585af5&page=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer MTI0NjExMzgxNl9TeWhLc2dDdUlUVGcwQTdWTkZpVg=="}]}, "options": {}}, "id": "fetch3", "name": "Fetch THL", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [720, 300], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"jsCode": "const conversations=[];\ntry{ const i1=$items('Fetch KGH'); if(i1.length) conversations.push(...(i1[0].json.docs||[])); }catch(e){}\ntry{ const i2=$items('Fetch DK'); if(i2.length) conversations.push(...(i2[0].json.docs||[])); }catch(e){}\ntry{ const i3=$items('Fetch THL'); if(i3.length) conversations.push(...(i3[0].json.docs||[])); }catch(e){}\n\nconst today=new Date().toISOString().slice(0,10);\nconst cutoff=new Date(Date.now()-45*864e5).toISOString().slice(0,10);\nconst leads=conversations.filter(c=>{\n  const upd=(c.updatedAt||'').slice(0,10);\n  const name=c.senderName||'';\n  const sid=(c.senderId||'').replace(/@s\\.whatsapp\\.net$/,'');\n  return upd>=cutoff && name.trim()!=='' && /^62\\d{8,15}$/.test(sid);\n}).map(c=>{\n  const sid=(c.senderId||'').replace(/@s\\.whatsapp\\.net$/,'');\n  const agt=(c.agentBy&&c.agentBy.name)||'Unassigned';\n  const lbl=(c.channelBy&&c.channelBy.label&&c.channelBy.label.name)||'Unknown Channel';\n  \n  const lastMsg=c.lastMessage||{};\n  const lastText=(lastMsg.text||'').toLowerCase();\n  const lastSender=lastMsg.sendBy||'';\n  const unread=c.unreadCount||0;\n  const lastAct=(c.updatedAt||'').slice(0,10);\n  const daysDiff=Math.floor((new Date(today)-new Date(lastAct))/864e5);\n  \n  let score=30;\n  if(lastSender==='contact') score+=25;\n  if(daysDiff===0) score+=15; else if(daysDiff===1) score+=10;\n  else if(daysDiff>=4&&daysDiff<=7) score-=10; else if(daysDiff>7) score-=20;\n  if(unread>=5) score-=30; else if(unread>=3) score-=15; else if(unread>=1) score-=5;\n  \n  const BOFU=['survey','survei','datang','kunjung','jadwal','booking','dp','akad','kpr','bank','cash'];\n  const MOFU=['info','detail','brosur','harga','cicilan','berapa','lokasi','tipe','kamar','luas'];\n  const bofuHits=BOFU.filter(k=>lastText.includes(k)).length;\n  const mofuHits=MOFU.filter(k=>lastText.includes(k)).length;\n  score+=bofuHits*15;score+=mofuHits*5;score=Math.max(0,score);\n  \n  const temp=score>=90?'HOT':score>=50?'WARM':'COLD';\n  const recency=daysDiff===0?'hari ini':daysDiff===1?'kemarin':daysDiff+' hari lalu';\n  \n  return {\n    contactName:c.senderName||'Unknown',\n    contactPhone:sid,\n    agentName:agt,\n    score,temp,\n    summary:'['+lbl+'] Quick sync: '+temp+' ('+score+') aktif '+recency,\n    posSignals:[bofuHits?'BOFU':'',mofuHits?'MOFU':'',lastSender==='contact'?'Lead aktif':''].filter(Boolean).join(', ')||'Kontak awal',\n    negStr:unread>=3?'Ghost ('+unread+' unread)':'Tidak ada',\n    action:temp==='HOT'?'Segera follow up!':temp==='WARM'?'Follow up hari ini':'Pantau saja',\n    reasons:'Channel: '+lbl,\n    ghostLabel:unread>=3?'Ghost '+unread:'',\n    recencyLabel:recency,\n    daysDiff,msgCount:0,bf:0,urgLabel:'',bdgLabel:'',bofuHits,mofuHits,negHits:0,leadMsgCount:0\n  };\n});\nreturn [{json:{leads,count:leads.length,syncedAt:new Date().toISOString()}}];\n"}, "id": "process", "name": "Filter and Quick Score", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [960, 300]}, {"parameters": {"jsCode": "const data=$input.first().json;\nconst leads=data.leads||[];\nif(!leads.length) return [{json:{status:'skip',count:0}}];\nconst url='https://api.kayanagreenhills.com/api/v1/socialchat/scoring/bulk';\nlet created=0,updated=0,errors=0;\nfor(let i=0;i<leads.length;i+=50){\n  const batch=leads.slice(i,i+50);\n  try{\n    const res=await this.helpers.httpRequest({method:'POST',url,body:{leads:batch},headers:{'Content-Type':'application/json'},timeout:30000});\n    created+=res.created||0;updated+=res.updated||0;errors+=res.errors||0;\n  }catch(e){errors+=batch.length;}\n}\nreturn [{json:{status:'done',total:leads.length,created,updated,errors,syncedAt:data.syncedAt}}];"}, "id": "push", "name": "Push to KGH Dashboard", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1200, 300]}], "connections": {"Every 30min (06-21 WIB)": {"main": [[{"node": "Fetch KGH", "type": "main", "index": 0}]]}, "Fetch KGH": {"main": [[{"node": "Fetch DK", "type": "main", "index": 0}]]}, "Fetch DK": {"main": [[{"node": "Fetch THL", "type": "main", "index": 0}]]}, "Fetch THL": {"main": [[{"node": "Filter and Quick Score", "type": "main", "index": 0}]]}, "Filter and Quick Score": {"main": [[{"node": "Push to KGH Dashboard", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "binaryMode": "separate"}, "staticData": {"node:Every 30min (06-21 WIB)": {"recurrenceRules": []}}, "meta": null, "pinData": {}, "versionId": "be449651-2378-48d2-9bc6-3be05f6c79a0", "activeVersionId": "be449651-2378-48d2-9bc6-3be05f6c79a0", "versionCounter": 5, "triggerCount": 1, "shared": [{"updatedAt": "2026-05-08T22:04:05.241Z", "createdAt": "2026-05-08T22:04:05.241Z", "role": "workflow:owner", "workflowId": "fzM2FtB5aBD3aEFb", "projectId": "lwrRKuCYcRUXNYtr", "project": {"updatedAt": "2026-04-23T23:08:33.456Z", "createdAt": "2026-04-23T23:03:33.058Z", "id": "lwrRKuCYcRUXNYtr", "name": "Ian Panggabean <ian.panggabean@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "b120d2d0-e155-4926-b88b-cbb5afb2a985"}}], "tags": [], "activeVersion": {"updatedAt": "2026-05-14T06:42:27.496Z", "createdAt": "2026-05-14T06:42:27.496Z", "versionId": "be449651-2378-48d2-9bc6-3be05f6c79a0", "workflowId": "fzM2FtB5aBD3aEFb", "nodes": [{"parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 */30 6-20 * * *"}, {"field": "cronExpression", "expression": "0 0 21 * * *"}]}}, "id": "sched", "name": "Every 30min (06-21 WIB)", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [0, 300]}, {"parameters": {"url": "https://api.socialchat.id/partner/conversation?limit=100&channelId=69f1c4458c09ad192d585af5&page=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer MTI0NjExMzgxNl9TeWhLc2dDdUlUVGcwQTdWTkZpVg=="}]}, "options": {}}, "id": "fetch1", "name": "Fetch Page 1", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [240, 300], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"url": "https://api.socialchat.id/partner/conversation?limit=100&channelId=69f1c4458c09ad192d585af5&page=2", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer MTI0NjExMzgxNl9TeWhLc2dDdUlUVGcwQTdWTkZpVg=="}]}, "options": {}}, "id": "fetch2", "name": "Fetch Page 2", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [480, 300], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"url": "https://api.socialchat.id/partner/conversation?limit=100&channelId=69f1c4458c09ad192d585af5&page=3", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer MTI0NjExMzgxNl9TeWhLc2dDdUlUVGcwQTdWTkZpVg=="}]}, "options": {}}, "id": "fetch3", "name": "Fetch Page 3", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [720, 300], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"jsCode": "const LEADS_CH='69f1c4458c09ad192d585af5';\nconst conversations=[];\nfor(let p=1;p<=3;p++){\n  try{\n    const items=$items('Fetch Page '+p);\n    if(items.length) conversations.push(...(items[0].json.docs||[]));\n  }catch(e){}\n}\nconst today=new Date().toISOString().slice(0,10);\nconst cutoff=new Date(Date.now()-45*864e5).toISOString().slice(0,10);\nconst leads=conversations.filter(c=>{\n  const upd=(c.updatedAt||'').slice(0,10);\n  const agt=(c.agentBy&&c.agentBy.name)||'';\n  const chId=(c.channelBy&&c.channelBy._id)||'';\n  const name=c.senderName||'';\n  const sid=(c.senderId||'').replace(/@s\\.whatsapp\\.net$/,'');\n  return upd>=cutoff&&chId===LEADS_CH&&!agt.startsWith('DK')&&!name.startsWith('DK')&&!name.startsWith('KGH')&&!name.includes('Kayana Green Hills')&&name.trim()!==''&&/^62\\d{8,15}$/.test(sid);\n}).map(c=>{\n  const sid=(c.senderId||'').replace(/@s\\.whatsapp\\.net$/,'');\n  const agt=(c.agentBy&&c.agentBy.name)||'Unassigned';\n  const lastMsg=c.lastMessage||{};\n  const lastText=(lastMsg.text||'').toLowerCase();\n  const lastSender=lastMsg.sendBy||'';\n  const unread=c.unreadCount||0;\n  const lastAct=(c.updatedAt||'').slice(0,10);\n  const daysDiff=Math.floor((new Date(today)-new Date(lastAct))/864e5);\n  let score=30;\n  if(lastSender==='contact') score+=25;\n  if(daysDiff===0) score+=15; else if(daysDiff===1) score+=10;\n  else if(daysDiff>=4&&daysDiff<=7) score-=10; else if(daysDiff>7) score-=20;\n  if(unread>=5) score-=30; else if(unread>=3) score-=15; else if(unread>=1) score-=5;\n  const BOFU=['survey','survei','datang','kunjung','jadwal','booking','dp','akad','kpr','bank','cash'];\n  const MOFU=['info','detail','brosur','harga','cicilan','berapa','lokasi','tipe','kamar','luas'];\n  const bofuHits=BOFU.filter(k=>lastText.includes(k)).length;\n  const mofuHits=MOFU.filter(k=>lastText.includes(k)).length;\n  score+=bofuHits*15;score+=mofuHits*5;score=Math.max(0,score);\n  const temp=score>=90?'HOT':score>=50?'WARM':'COLD';\n  const recency=daysDiff===0?'hari ini':daysDiff===1?'kemarin':daysDiff+' hari lalu';\n  return {contactName:c.senderName||'Unknown',contactPhone:sid,agentName:agt,score,temp,\n    summary:'Quick sync: '+temp+' ('+score+') aktif '+recency,\n    posSignals:[bofuHits?'BOFU':'',mofuHits?'MOFU':'',lastSender==='contact'?'Lead aktif':''].filter(Boolean).join(', ')||'Kontak awal',\n    negStr:unread>=3?'Ghost ('+unread+' unread)':'Tidak ada',\n    action:temp==='HOT'?'Segera follow up!':temp==='WARM'?'Follow up hari ini':'Pantau saja',\n    reasons:'Quick sync scoring',ghostLabel:unread>=3?'Ghost '+unread:'',recencyLabel:recency,\n    daysDiff,msgCount:0,bf:0,urgLabel:'',bdgLabel:'',bofuHits,mofuHits,negHits:0,leadMsgCount:0};\n});\nreturn [{json:{leads,count:leads.length,syncedAt:new Date().toISOString()}}];"}, "id": "process", "name": "Filter and Quick Score", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [960, 300]}, {"parameters": {"jsCode": "const data=$input.first().json;\nconst leads=data.leads||[];\nif(!leads.length) return [{json:{status:'skip',count:0}}];\nconst url='https://api.kayanagreenhills.com/api/v1/socialchat/scoring/bulk';\nlet created=0,updated=0,errors=0;\nfor(let i=0;i<leads.length;i+=50){\n  const batch=leads.slice(i,i+50);\n  try{\n    const res=await this.helpers.httpRequest({method:'POST',url,body:{leads:batch},headers:{'Content-Type':'application/json'},timeout:30000});\n    created+=res.created||0;updated+=res.updated||0;errors+=res.errors||0;\n  }catch(e){errors+=batch.length;}\n}\nreturn [{json:{status:'done',total:leads.length,created,updated,errors,syncedAt:data.syncedAt}}];"}, "id": "push", "name": "Push to KGH Dashboard", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1200, 300]}], "connections": {"Every 30min (06-21 WIB)": {"main": [[{"node": "Fetch Page 1", "type": "main", "index": 0}]]}, "Fetch Page 1": {"main": [[{"node": "Fetch Page 2", "type": "main", "index": 0}]]}, "Fetch Page 2": {"main": [[{"node": "Fetch Page 3", "type": "main", "index": 0}]]}, "Fetch Page 3": {"main": [[{"node": "Filter and Quick Score", "type": "main", "index": 0}]]}, "Filter and Quick Score": {"main": [[{"node": "Push to KGH Dashboard", "type": "main", "index": 0}]]}}, "authors": "Ian Panggabean", "name": null, "description": null, "autosaved": false, "workflowPublishHistory": [{"createdAt": "2026-05-14T06:42:33.590Z", "id": 724, "workflowId": "fzM2FtB5aBD3aEFb", "versionId": "be449651-2378-48d2-9bc6-3be05f6c79a0", "event": "activated", "userId": "b120d2d0-e155-4926-b88b-cbb5afb2a985"}]}}