sync_payload.txt
{"name": "SocialChat Sync to KGH Dashboard (30min)", "nodes": [{"parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 */30 6-20 * * *"}, {"field": "cronExpression", "expression": "0 0 21 * * *"}]}}, "id": "sched", "name": "Every 30min (06-21 WIB)", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [0, 300]}, {"parameters": {"url": "https://api.socialchat.id/partner/conversation?limit=100&channelId=69f1c4458c09ad192d585af5&page=1", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer MTI0NjExMzgxNl9TeWhLc2dDdUlUVGcwQTdWTkZpVg=="}]}, "options": {}}, "id": "fetch1", "name": "Fetch Page 1", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [240, 300], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"url": "https://api.socialchat.id/partner/conversation?limit=100&channelId=69f1c4458c09ad192d585af5&page=2", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer MTI0NjExMzgxNl9TeWhLc2dDdUlUVGcwQTdWTkZpVg=="}]}, "options": {}}, "id": "fetch2", "name": "Fetch Page 2", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [480, 300], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"url": "https://api.socialchat.id/partner/conversation?limit=100&channelId=69f1c4458c09ad192d585af5&page=3", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer MTI0NjExMzgxNl9TeWhLc2dDdUlUVGcwQTdWTkZpVg=="}]}, "options": {}}, "id": "fetch3", "name": "Fetch Page 3", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [720, 300], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}, {"parameters": {"jsCode": "const LEADS_CH='69f1c4458c09ad192d585af5';\nconst conversations=[];\nfor(let p=1;p<=3;p++){\n  try{\n    const items=$items('Fetch Page '+p);\n    if(items.length) conversations.push(...(items[0].json.docs||[]));\n  }catch(e){}\n}\nconst today=new Date().toISOString().slice(0,10);\nconst cutoff=new Date(Date.now()-45*864e5).toISOString().slice(0,10);\nconst leads=conversations.filter(c=>{\n  const upd=(c.updatedAt||'').slice(0,10);\n  const agt=(c.agentBy&&c.agentBy.name)||'';\n  const chId=(c.channelBy&&c.channelBy._id)||'';\n  const name=c.senderName||'';\n  const sid=(c.senderId||'').replace(/@s\\.whatsapp\\.net$/,'');\n  return upd>=cutoff&&chId===LEADS_CH&&!agt.startsWith('DK')&&!name.startsWith('DK')&&!name.startsWith('KGH')&&!name.includes('Kayana Green Hills')&&name.trim()!==''&&/^62\\d{8,15}$/.test(sid);\n}).map(c=>{\n  const sid=(c.senderId||'').replace(/@s\\.whatsapp\\.net$/,'');\n  const agt=(c.agentBy&&c.agentBy.name)||'Unassigned';\n  const lastMsg=c.lastMessage||{};\n  const lastText=(lastMsg.text||'').toLowerCase();\n  const lastSender=lastMsg.sendBy||'';\n  const unread=c.unreadCount||0;\n  const lastAct=(c.updatedAt||'').slice(0,10);\n  const daysDiff=Math.floor((new Date(today)-new Date(lastAct))/864e5);\n  let score=30;\n  if(lastSender==='contact') score+=25;\n  if(daysDiff===0) score+=15; else if(daysDiff===1) score+=10;\n  else if(daysDiff>=4&&daysDiff<=7) score-=10; else if(daysDiff>7) score-=20;\n  if(unread>=5) score-=30; else if(unread>=3) score-=15; else if(unread>=1) score-=5;\n  const BOFU=['survey','survei','datang','kunjung','jadwal','booking','dp','akad','kpr','bank','cash'];\n  const MOFU=['info','detail','brosur','harga','cicilan','berapa','lokasi','tipe','kamar','luas'];\n  const bofuHits=BOFU.filter(k=>lastText.includes(k)).length;\n  const mofuHits=MOFU.filter(k=>lastText.includes(k)).length;\n  score+=bofuHits*15;score+=mofuHits*5;score=Math.max(0,score);\n  const temp=score>=90?'HOT':score>=50?'WARM':'COLD';\n  const recency=daysDiff===0?'hari ini':daysDiff===1?'kemarin':daysDiff+' hari lalu';\n  return {contactName:c.senderName||'Unknown',contactPhone:sid,agentName:agt,score,temp,\n    summary:'Quick sync: '+temp+' ('+score+') aktif '+recency,\n    posSignals:[bofuHits?'BOFU':'',mofuHits?'MOFU':'',lastSender==='contact'?'Lead aktif':''].filter(Boolean).join(', ')||'Kontak awal',\n    negStr:unread>=3?'Ghost ('+unread+' unread)':'Tidak ada',\n    action:temp==='HOT'?'Segera follow up!':temp==='WARM'?'Follow up hari ini':'Pantau saja',\n    reasons:'Quick sync scoring',ghostLabel:unread>=3?'Ghost '+unread:'',recencyLabel:recency,\n    daysDiff,msgCount:0,bf:0,urgLabel:'',bdgLabel:'',bofuHits,mofuHits,negHits:0,leadMsgCount:0};\n});\nreturn [{json:{leads,count:leads.length,syncedAt:new Date().toISOString()}}];"}, "id": "process", "name": "Filter and Quick Score", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [960, 300]}, {"parameters": {"jsCode": "const data=$input.first().json;\nconst leads=data.leads||[];\nif(!leads.length) return [{json:{status:'skip',count:0}}];\nconst url='https://api.kayanagreenhills.com/api/v1/socialchat/scoring/bulk';\nlet created=0,updated=0,errors=0;\nfor(let i=0;i<leads.length;i+=50){\n  const batch=leads.slice(i,i+50);\n  try{\n    const res=await this.helpers.httpRequest({method:'POST',url,body:{leads:batch},headers:{'Content-Type':'application/json'},timeout:30000});\n    created+=res.created||0;updated+=res.updated||0;errors+=res.errors||0;\n  }catch(e){errors+=batch.length;}\n}\nreturn [{json:{status:'done',total:leads.length,created,updated,errors,syncedAt:data.syncedAt}}];"}, "id": "push", "name": "Push to KGH Dashboard", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1200, 300]}], "connections": {"Every 30min (06-21 WIB)": {"main": [[{"node": "Fetch Page 1", "type": "main", "index": 0}]]}, "Fetch Page 1": {"main": [[{"node": "Fetch Page 2", "type": "main", "index": 0}]]}, "Fetch Page 2": {"main": [[{"node": "Fetch Page 3", "type": "main", "index": 0}]]}, "Fetch Page 3": {"main": [[{"node": "Filter and Quick Score", "type": "main", "index": 0}]]}, "Filter and Quick Score": {"main": [[{"node": "Push to KGH Dashboard", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}
