n8n/workflows/05_notification.json
{
  "name": "05 — Notification Router (Telegram/Email/Dashboard)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notification",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "n_webhook",
      "name": "📥 Notification Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "notification"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            { "value1": "={{ $json.channel }}", "value2": "telegram", "operation": "equal" },
            { "value1": "={{ $json.channel }}", "value2": "email", "operation": "equal" }
          ]
        }
      },
      "id": "n_switch",
      "name": "🔀 Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $env.MESSAGING_CHAT_ID }}",
        "text": "=*{{ $json.title }}*\n\n{{ $json.message }}\n\n_{{ new Date().toLocaleString('id-ID', {timeZone:'Asia/Jakarta'}) }}_",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "n_telegram",
      "name": "📱 Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 180],
      "credentials": { "telegramApi": { "id": "tg_bot", "name": "KGH Telegram Bot" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO notifications (title, message, type, channel) VALUES ($1, $2, $3, $4)",
        "additionalFields": {
          "queryParams": "={{ [$json.title, $json.message, $json.type || 'INFO', $json.channel || 'DASHBOARD'] }}"
        },
        "options": {}
      },
      "id": "n_store_notif",
      "name": "💾 Store Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 420],
      "credentials": { "postgres": { "id": "pg_main", "name": "KGH PostgreSQL" } }
    }
  ],
  "connections": {
    "📥 Notification Webhook": { "main": [[{ "node": "🔀 Route by Channel", "type": "main", "index": 0 }]] },
    "🔀 Route by Channel": {
      "main": [
        [{ "node": "📱 Send Telegram", "type": "main", "index": 0 }],
        [{ "node": "💾 Store Notification", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1", "timezone": "Asia/Jakarta" },
  "tags": ["kgh-meta-ads", "notification"]
}
